{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">    
  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="logo-menu" style="background: #fff;">
      {if $isLogin}
      {include file="$themes/top-account.html"}
      {else}
      {include file="$themes/top.html"}
      {/if}
    </div>
    <!-- Header Section End -->    
    <section id="slider">
     <!-- The video -->
     <video autoplay muted loop class="video-background">
      <source src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/video.mp4" type="video/mp4">
      </video>
      <div class="tp-banner-container">
        <div class="tp-banner">
          <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="">
              <div class="tp-caption mediumHeading h2 lft tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-y="center" data-voffset="-50" data-speed="1200" data-start="1000" data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" style="z-index: 11;">
                <h2 style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-weight: 900; font-size: 60px; color: #FFC000; text-align: center;">LINKRICA</h2>
                <h3 style="color: #FFC000; text-align: center;">Online Translation Application</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <!-- end intro section -->
  <section class="find-jobs section-about" style="background: #fff;">
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-12 fw-mgt30 fw-mgb30">
        <div class="col-md-12 fw-fs-32" align="center">
          JOURNEY TO ONLINE TRANSLATION MODEL
          <div align="center" class="btn-bg-under-center fw-mgt15 fw-mgb20"></div>
        </div>
        <div style="clear: both;"></div>

        <div class="col-md-5">
          In today's digital economy, businesses must act quickly to meet global market demands. Translation is no exception as digital content is created continuously and all day and night. The ability to translate digital information quickly (in minutes versus hours and days) will allow companies to beat their competitors and move faster in global markets
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          The mobile translation will be a game-changing solution that the localization industry needs. Mobile translations allow translators to instantly translate requests and then instantly start translating anywhere, anytime, from their smartphone, providing timely OnDemand solutions.

        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Find Job Section Start -->
<section class="featured-jobs section-about">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12  no-padding fw-mgt30 fw-mgb30">
        <div style="margin-left: 15px; margin-right:15px;">
          <div class="col-md-3 no-padding fw-fs-28">
            SIMPLIFYING TRANSLATION
          </div>

          <div class="col-md-9  no-padding">
            In our view of the business: "In addition to creating quality translations, we must also understand the value added to our customers." That is why we need to simplify the translation: to remove the old and old ways, to provide a technology solution that transforms the games that the localization industry needs.
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="featured-jobs section-about" style="background: #6d964f; color: #fff;">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 no-padding">
       <div class="col-md-6 no-padding">
        <div style="margin-left: 15px; margin-right:15px; margin-top: 10px;">
         <div class="fw-fs-28">
          SPEED & QUALITY FOR A DIGITAL ECONOMY
        </div>

        <div style="text-align: justify;">
          Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

          Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

          Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

        </div>
      </div>

    </div>

    <div class="col-md-6 no-padding">
     <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg"/>
   </div>
 </div>
</div>
</div>
</section>


<section class="featured-jobs section-about">
  <div class="container-fluid">
    <div class="row">
     <div class="col-md-12 no-padding">
       <div class="col-md-6 no-padding">
         <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_2.jpg"/>
       </div>

       <div class="col-md-6 no-padding">
        <div style="margin-left: 15px; margin-right:15px; margin-top: 10px;">
          <div class="fw-fs-28">
            BIG STEPES TOWARD FASTER GLOBAL GROWTH
          </div>

          <div style="text-align: justify;">
            Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

            Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

            Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...


          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>


<section class="featured-jobs section-about" style="background: #10bbef; color: #fff;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-md-6 no-padding fw-mgt10">
          <div style="margin-left: 15px; margin-right:15px; margin-top: 10px;">
            <div class="fw-fs-28">
             WHAT MAKES US DIFFERENT?
           </div>

           <div style="text-align: justify;">
             Expanding your international business depends on quality translation at fast speed. Steps to disrupt old localization models by converting professional language services into a fast, easy, and affordable online translation platform.

             Expanding your international business depends on quality translation at fast speed. Steps to disrupt old localization models by converting professional language services into a fast, easy, and affordable online translation platform.

             Expanding your international business depends on quality translation at fast speed. Steps to disrupt old localization models by converting professional language services into a fast, easy, and affordable online translation platform.
           </div>
         </div>

       </div>

       <div class="col-md-6 no-padding">
         <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_3.jpg"/>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="featured-jobs section-about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-md-6 no-padding">
         <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_4.jpg"/>
       </div>

       <div class="col-md-6 no-padding">
         <div style="margin-left: 15px; margin-right:15px; margin-top: 10px;">
          <div class="fw-fs-28">
           THOUSANDS OF APPROVED TRANSLATORS, ALL WORKING FOR YOU.
         </div>

         <div style="text-align: justify;">
           Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

           Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

           Documents translation is obviously extremely important to any kind of business that requires translation services. Proper translation of documents and digital content...

           Documents translation is obviously extremely important to any kind of business that requires translation services

         </div>
       </div>

     </div>

   </div>

 </div>
</div>
</section>
<!-- Find Job Section End -->

<section class="featured-jobs section-about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="col-md-6 no-padding">
          <!-- The video -->
     <video autoplay muted loop>
      <source src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/video_1.mp4" type="video/mp4">
      </video>
       </div>

       <div class="col-md-6 no-padding">

        <!-- The video -->
     <video autoplay muted loop>
      <source src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/video_2.mp4" type="video/mp4">
      </video>
     </div>

   </div>

 </div>
</div>
</section>
<!-- Find Job Section End -->


<!-- Featured Jobs Section Start -->
<section class="about-job section-about" style="color: #fff;">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12 fw-mgt30 fw-mgb30">
     <div class="col-md-12 fw-fs-32" align="center">
      ABOUT US
      <div align="center" class="btn-bg-under-center-white fw-mgt15 fw-mgb20"></div>
    </div>

    <div class="col-md-12" style="text-align: justify;">
     <p>Expanding your international business depends on quality translation at fast speed. Steps to disrupt old localization models by converting professional language services into a fast, easy, and affordable online translation platform. Just upload your document, track progress and download translated files on demand, anytime, anywhere. Take your global steps by harnessing the power of our expert online translation services and achieving great multinational success.</p>

     <p>Expanding your international business depends on quality translation at fast speed. Steps to disrupt old localization models by converting professional language services into a fast, easy, and affordable online translation platform. Just upload your document, track progress and download translated files on demand, anytime, anywhere. Take your global steps by harnessing the power of our expert online translation services and achieving great multinational success.</p>
   </div>

 </div>
</div>
</div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}