{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
        <!-- Header Section End -->
        <section class="featured-jobs">
            {include file="$themes/top-support.html"}
        </section>
    </section>
</div>

<section class="featured-jobs section" style="background: #fff !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-border-content-bottom" style="margin: 5px; text-align: center">
                <h3 class="fw-fs-26 fw-mgt10 fw-mgb10">
                    <strong>Blog</strong>
                </h3>
            </div>

            <div class="col-md-12 no-padding fw-mgt10">
                <div class="col-md-9 no-padding">
                    <div class="col-md-12 fw-mgb20">
                        {foreach from=$list_content_blog item="val" key="key" name="val"}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="featured-item">
                                <div class="featured-wrap">
                                    <div class="featured-inner">
                                        <figure class="item-thumb">
                                            <center>
                                                {if $val.news_img}
                                                <a class="hover-effect"
                                                   href="{$smarty.const.URL_HOMEPAGE}bl-detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                                                    <img src="{$smarty.const.URL_HOME}/upload/contents/{$val.news_img}"
                                                         alt="{$val.news_name}">
                                                </a>
                                                {else}
                                                <a class="hover-effect"
                                                   href="{$smarty.const.URL_HOMEPAGE}bl-detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg"
                                                         alt="{$val.news_name}">
                                                </a>
                                                {/if}
                                            </center>
                                        </figure>
                                        <div class="item-body" style="height: 94px;">
                                            <span class="job-title">
                                                <a title="{$val.full_news_name}"
                                                   href="{$smarty.const.URL_HOMEPAGE}bl-detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                                                    {$val.limit_news_name}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-foot">
                                    <span><i class="ti-calendar"></i> {$val.created_date}</span>
                                    <div class="view-iocn">
                                        <a href="{$smarty.const.URL_HOMEPAGE}bl-detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html"><i
                                                class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>

                    <div class="col-md-12">
                        <div class="showing pull-left"></div>
                        <ul class="pagination pull-right">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="fw-mgb20 fw-mgt10">
                        <div class="fw-fs-18">GIỚI THIỆU</div>
                        <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                    </div>
                    <div>
                        <ul>
                            {foreach from=$list_about_us item="val" name="val"}
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}about/{$val.news_id}-{$val.news_url}.html">
                                    {$val.news_name}
                                </a>
                            </li>
                            {/foreach}
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}blog.html">
                                    Blog
                                </a>
                            </li>
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}career.html">
                                    Cơ hội nghề nghiệp
                                </a>
                            </li>
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}contact.html">
                                    Hợp tác chúng tôi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
