{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
        <!-- Header Section End -->
        <section class="featured-jobs">
            {include file="$themes/top-support.html"}
        </section>
    </section>
</div>

<section class="job-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-border-content-bottom" style="margin: 5px; text-align: center">
                <h4 class="fw-fs-26 fw-mgt10 fw-mgb10">
                    {$job_detail.news_name}
                </h4>
            </div>

            <div class="col-md-12 no-padding fw-mgt10">
                <div class="col-md-9 no-padding">
                    <div class="col-md-12 fw-mgb10" style="text-align: justify">
                        <p>
                            {$job_detail.description}
                        </p>
                    </div>
                    <div class="col-md-12 fw-mgb10">
                        <div class="meta">
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Email</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Save This job</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Report Abuse</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="fw-mgb20 fw-mgt10">
                        <div class="fw-fs-18">GIỚI THIỆU</div>
                        <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                    </div>
                    <div>
                        <ul>
                            {foreach from=$list_about_us item="val" name="val"}
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}about/{$val.news_id}-{$val.news_url}.html">
                                    {$val.news_name}
                                </a>
                            </li>
                            {/foreach}
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}blog.html">
                                    Blog
                                </a>
                            </li>
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}career.html">
                                    Cơ hội nghề nghiệp
                                </a>
                            </li>
                            <li class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}contact.html">
                                    Hợp tác chúng tôi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
