{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
  <!-- Start intro section -->
  <section id="intro" class="section-intro">
    <div class="logo-menu" style="background: #fff;">
      {include file="$themes/top.html"}
    </div>
    <!-- Header Section End -->
    <section class="featured-jobs">
      {include file="$themes/top-support.html"}
    </section>
  </section>
</div>

<section class="job-detail section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 fw-border-content-bottom" style="margin: 5px; text-align: center">
        <h4 class="fw-fs-26 fw-mgt10 fw-mgb10">
          <strong>Hợp tác chúng tôi</strong>
        </h4>
      </div>

      <div class="col-md-12 no-padding fw-mgt10">
        <div class="col-md-9 no-padding">
          <div class="col-md-12 fw-mgb20">
            <form role="form" class="form-ad" name="registration" method="post" enctype="multipart/form-data" action="{$smarty.const.URL_HOMEPAGE}add-member.html"/>

            <div class="form-group">
              <div class="row">

                <div class="col-md-6">
                  <input type="text" class="form-control" name="first-name" id="first-name" placeholder="Tên công ty (*)"/>
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Tên người đại diện pháp lý (*)"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">

                <div class="col-md-6">
                  <input type="text" class="form-control" name="mobileCode" placeholder="Email (*)">
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" name="mobile" placeholder="Điện thoại (*)">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-icon">
                <textarea class="form-control" rows="6" name="news_content"
                    id="news_content" placeholder="Qúy vị muốn tuyển sinh chương trình nào?"></textarea>
              </div>
            </div>

            <center>
              <button class="btn btn-submit log-btn" type="submit">Tạo tài khoản</button>
            </center>
            </form>
          </div>
        </div>

        <div class="col-md-3 no-padding">
          <div class="fw-mgb20 fw-mgt10">
            <div class="fw-fs-18">GIỚI THIỆU</div>
            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
          </div>
          <div>
            <ul>
              {foreach from=$list_about_us item="val" name="val"}
              <li class="fw-mgb10">
                <a href="{$smarty.const.URL_HOMEPAGE}about/{$val.news_id}-{$val.news_url}.html">
                  {$val.news_name}
                </a>
              </li>
              {/foreach}
              <li class="fw-mgb10">
                <a href="{$smarty.const.URL_HOMEPAGE}">
                  Blog
                </a>
              </li>
              <li class="fw-mgb10">
                <a href="{$smarty.const.URL_HOMEPAGE}">
                  Cơ hội nghề nghiệp
                </a>
              </li>
              <li class="fw-mgb10">
                <a href="{$smarty.const.URL_HOMEPAGE}contact.html">
                  Hợp tác chúng tôi
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
