{include file="$themes/header.html"}
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.popupoverlay.js"></script>
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick.css">
<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_WEB}{$themes}/assets/js/slick/slick-theme.css">

{literal}
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: 10px auto;
    }

    .slick-slide {
        margin: 0 10px;
    }

    .slick-slide img {
        width: 70%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 1;
    }

    .slick-active {
        opacity: 1;
    }

    .slick-current {
        opacity: 1;
    }
</style>
<script type="text/javascript">
    $(document).on('ready', function () {
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            autoplay: true
        });
    });
</script>
{/literal}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
        <!-- Header Section End -->
        <section class="featured-jobs">
            {include file="$themes/top-support.html"}
        </section>
        {*<section class="find-jobs section-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding fw-mgt20 fw-mgb20">
                        <div class="col-md-6 fw-mgt10">
                            <span class="fw-fs-32"><strong>{$cate_detail[0].category_name}</strong></span>
                        </div>
                        <div class="col-md-6 no-padding">
                            <div class="col-md-2" align="right">
                                <div class="fw-mgt7"><i class="fa fa fa-mobile fa-2x"></i></div>
                            </div>
                            <div class="col-md-4 text-justify" style="line-height: 50px;">
                                <span class="fw-fs-18">{$smarty.const.lang_hotine}</span>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-see-more fw-fs-18" href="{$smarty.const.URL_HOMEPAGE}">
                                    <strong>ĐĂNG KÝ TRỰC TUYẾN</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*}

        <section id="slider">
            {include file="$themes/sub_banner.html"}
        </section>
    </section>
</div>

<!-- end intro section -->
<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt20 fw-mgb20">
                <h3>GIỚI THIỆU CHUNG</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8">
                    {$cate_detail[0].category_content}
                </div>
                <div class="col-md-4">
                    <img width="100%" src="{$smarty.const.URL_HOMEPAGE}upload/categorys/{$cate_detail[0].category_img}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3 class="main_title">{$content_ttduhoc[0].category_name}</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8 text-justify">
                   {$cate_detail[0].category_info_news}
               </div>
               <div class="col-md-2"></div>
           </div>

           <div class="col-md-12 no-padding">
            {include file="$themes/web/news.html"}
        </div>
    </div>
</div>
</section>
<!-- Find Job Section End -->


<!-- end intro section -->
<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt20 fw-mgb20">
                <h3>DU HỌC VIÊN</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb10">
                <div align="left" class="col-md-8">
                 {$cate_detail[0].category_info_student}
             </div>
             <div class="col-md-4"></div>
         </div>

         <div class="col-md-12 fw-mgb10">
            <div class="fw-mgb15">
                <section class="regular slider">
                    {foreach from=$all_student item="val" name="val"}
                    <div style="border: 1px solid #ccc; padding-top:10px; padding-bottom: 10px;">
                        <div align="center">
                            <center>
                                <a href="#fadeandscale_student_{$val.news_id}"
                                class="fadeandscale_student_{$val.news_id}_open">
                                {if $val.news_img}
                                <img src="{$smarty.const.URL_HOME}/timthumb.php?src={$smarty.const.URL_HOME}/upload/student/{$val.news_img}&h=150&w=150&zc=1"
                                class="img-circle"/>
                                {else}
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png" class="img-circle"/>
                                {/if}
                            </a>
                        </center>
                    </div>
                    <div style="clear: both;"></div>
                        {if !$isMobile}
                            <div align="center">
                                <strong title="{$val.news_name}">{$val.news_name}</strong>
                            </div>
                        {/if}
                </div>
                {/foreach}
            </section>
            {foreach from=$all_student item="val" name="val"}
            {literal}
            <script>
                $(document).ready(function () {
                    $('#fadeandscale_student_{/literal}{$val.news_id}{literal}').popup({
                        pagecontainer: '.container',
                        transition: 'all 0.3s ease-out',
                        horizontal: 'center',
                        escape: true,
                        scrolllock: false
                    });
                });
            </script>

            <style type="text/css">
                #fadeandscale_student_{/literal}{$val.news_id}{literal}
                {
                    transform: scale(0.8);

                }
                .popup_visible #fadeandscale_student__{/literal}{$val.userid}{literal}
                {
                    transform: scale(1);
                }
            </style>
            {/literal}

            <div id="fadeandscale_student_{$val.news_id}" class="well" style="display: none;">
                <div align="center" class="col-md-12 no-padding fw-mgb10">
                    {if $val.news_img}
                    <img src="{$smarty.const.URL_HOME}/timthumb.php?src={$smarty.const.URL_HOME}/upload/student/{$val.news_img}&h=150&w=150&zc=1"
                    class="img-circle"/>
                    {else}
                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png"
                    class="img-circle"/>
                    {/if}
                </div>
                <div align="center" class="col-md-12 no-padding">
                    <strong style="font-size:22px;">{$val.news_name}</strong>
                </div>
                <div class="col-md-12 fw-mgt10" style="text-align: justify; font-size:18px;">
                    {$val.description}
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>
</div>
</section>

{literal}
<script>
    jQuery(document).ready(function() {
        jQuery("#paging li").on('click',function(e){
            e.preventDefault();
            jQuery("#target-content").html('loading...');
            jQuery("#paging li").removeClass('active');
            jQuery(this).addClass('active');
            var pageNum = this.id;
            loadSchoolsData(pageNum);
        });
    });
</script>
<script type="text/javascript">
    function loadSchoolsData(pageNum){
        $.ajax( {
            url: '{/literal}{$smarty.const.URL_HOME}{literal}/load/load_pagination.php?category_id={/literal}{$main_cate}{literal}&page=' + pageNum,
            type: "get",
            dataType: 'json',
            async: false,
            beforeSend: function() {
                $("#loadingInfo").css("display", "block");
            }
        })
            .done(function(data) {
                $("#loadingInfo").css("display", "none");
                $("#target-content").html(data);
            })
            .fail(function(jqXHR, ajaxOptions, thrownError) {
                alert('server not responding...');
            });
    }
</script>
{/literal}
<!-- Find Job Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>DANH SÁCH CÁC TRƯỜNG</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8">
                    {$cate_detail[0].category_info_schools}
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="col-md-12 fw-mgb20">
                <div class="topnav" id="myTopnav">
                    {foreach from=$list_category_content item="val" name="val"}
                    <a href="#home" {if $smarty.foreach.val.first}class="active"{else}class="un_active"{/if}>
                    <span id="link_{$val.category_id}" class="link_duhoc_hover" onclick="loadMoreData({$val.category_id});">
                    <h4><strong>{$val.category_name}</strong></h4>
                </span>
                    </a>
                    {/foreach}
                    <a href="javascript:void(0);" class="icon" onclick="myFunction();">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12 no-padding">
               <div id="target-content">
               {foreach from=$all_schools item="val" name="val"}
               <div class="col-md-6 fw-mgb10">
                <div class="box_how_it_works" style="padding:10px;">
                    <div class="col-md-3 fw-mgb10">
                        <center>
                            <a href="#fadeandscale_schools_{$val.news_id}" class="fadeandscale_schools_{$val.news_id}_open">
                                <img src="{$smarty.const.URL_HOME}/upload/schools/{$val.news_img}"/>
                            </a>
                        </center>
                    </div>
                    <div class="col-md-9">
                        <div class="fw-mgb10">
                            <a href="#fadeandscale_schools_{$val.news_id}" class="fadeandscale_schools_{$val.news_id}_open link_blue">
                                <h4>
                                    <strong>{$val.news_name}</strong>
                                </h4>
                            </a>
                        </div>
                        <div class="fw-mgb10 text-justify">
                            {$val.news_content}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {/foreach}
               </div>
        </div>

    {if $total_pages > 0}
    <div class="col-md-12">
        <div class="showing pull-left"></div>
        <ul class="pagination pull-right" id="paging">
            {section name=foo start=1 loop=$total_pages step=1}
                {if $smarty.section.foo.index == 1}
                    <li class='active' id="{$smarty.section.foo.index}"><a href='{$smarty.const.URL_HOME}/load/pagination.php?category_id={$main_cate}&page={$smarty.section.foo.index}'>{$smarty.section.foo.index}</a></li>
                {else}
                   <li id="{$smarty.section.foo.index}"><a href='{$smarty.const.URL_HOME}/load/pagination.php?category_id={$main_cate}&page={$smarty.section.foo.index}'>{$smarty.section.foo.index}</a></li>
                {/if}
            {/section}


            {foreach from=$count_schools key="key" item="val" name="val"}

            {/foreach}
        </ul>
    </div>
    {/if}
    {foreach from=$all_schools item="val" name="val"}
    {literal}
    <script>
        $(document).ready(function () {
            $('#fadeandscale_schools_{/literal}{$val.news_id}{literal}').popup({
                pagecontainer: '.container',
                transition: 'all 0.3s ease-out',
                horizontal: 'right',
                escape: true,
                scrolllock: false
            });
        });
    </script>

    <style type="text/css">
        #fadeandscale_schools_{/literal}{$val.news_id}{literal}
        {
            transform: scale(0.8);

        }
        .popup_visible #fadeandscale_schools_{/literal}{$val.news_id}{literal}
        {
            transform: scale(1);
        }
    </style>
    {/literal}

    <div id="fadeandscale_schools_{$val.news_id}" class="well" style="width: 950px; display: none;">
        <div class="col-md-12 no-padding">
            <div class="col-md-2 fw-mgb10">
                {if $val.news_img}
                <img src="{$smarty.const.URL_HOME}/upload/schools/{$val.news_img}"/>
                {else}
                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png"/>
                {/if}
            </div>

            <div class="col-md-10">
                <h3><strong>{$val.news_name}</strong></h3>
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <div class="divider-info"></div>
        </div>

        <div class="col-md-12 no-padding">
            <p>
                {$val.description}
            </p>
        </div>
    </div>
    {/foreach}

</div>
</section>
<!-- Find Job Section End -->


<!-- end intro section -->
<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt20 fw-mgb20">
                <h3>CÂU HỎI THƯỜNG GẶP</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>

            <div class="col-md-12 no-padding fw-mgb10">
                <ul id="toggle-view">
                    {foreach from=$all_question item="val" name="val"}
                    <li>
                        <h3>{$val.news_name}</h3>
                        <span>+</span>
                        <p>{$val.description}</p>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</section>
{literal}
<style type="text/css">

    #toggle-view {
        list-style: none;
        font-size: 15px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #toggle-view li {
        margin: 20px;
        border-bottom: 1px solid #ccc;
        position: relative;
        cursor: pointer;
    }

    #toggle-view h3 {
        margin: 0;
        font-size: 20px;
    }

    #toggle-view span {
        position: absolute;
        right: 5px;
        top: 0;
        color: #ccc;
        font-size: 16px;
    }

    #toggle-view p {
        margin: 5px 0;
        display: none;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('#toggle-view li').click(function () {

            var text = $(this).children('p');

            if (text.is(':hidden')) {
                text.slideDown('200');
                $(this).children('span').html('-');
            } else {
                text.slideUp('200');
                $(this).children('span').html('+');
            }

        });

    });

</script>

{/literal}
<!-- footer -->
{include file="$themes/footer.html"}
