{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
        <!-- Header Section End -->
        <section class="featured-jobs">
            {include file="$themes/top-support.html"}
        </section>
    </section>
</div>

<section class="job-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-border-content-bottom" style="margin: 5px; text-align: center">
                <h4 class="fw-fs-26 fw-mgt10 fw-mgb20">
                    <strong>{$category_name}</strong>
                </h4>
            </div>

            <div class="col-md-12 fw-mgt10">
                <div class="col-md-12 fw-mgb10">
                    <strong>DANH SÁCH CÁC TRƯỜNG</strong>
                </div>
                <div class="col-md-9">
                    {if count($all_hocbong) >0}
                    {foreach from=$all_hocbong item="val" name="val"}
                    <div class="col-md-12 no-padding fw-mgb10">
                        <div class="box_hoc_bong" style="padding:10px;">
                            <div class="col-md-12">
                                <div class="col-md-3 no-padding">
                                    <a href="{$smarty.const.URL_HOMEPAGE}hb-detail/{$main_cate}-{$sub_cate}-{$val.news_id}-{$val.news_url}.html">
                                        <img src="{$smarty.const.URL_HOME}/upload/hocbong/{$val.news_img}"/>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="fw-mgb10 fw-mgt10">
                                        <h4>
                                            <a href="{$smarty.const.URL_HOMEPAGE}hb-detail/{$main_cate}-{$sub_cate}-{$val.news_id}-{$val.news_url}.html" class="link_blue">
                                                <strong>{$val.news_name}</strong>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="fw-mgb30">
                                        {$val.news_content}
                                    </div>
                                    <div class="fw-mgb10">
                                        <span><i class="ti-calendar"></i> {$val.created_date}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    {/foreach}
                    {else}
                    <div class="col-md-12 no-padding fw-mgb10">
                        <div class="fw-mgt20 fw-mgb10" align="center">
                            <h4>Don't have any data.</h4>
                        </div>
                    </div>
                    {/if}

                    {if count($all_hocbong) > 0}
                    <div class="col-md-12 no-padding fw-mgb10">
                        <div class="showing pull-left"></div>
                        <ul class="pagination pull-right">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 no-padding fw-mgb10">
                        <div class="meta">
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Email</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Save This job</a></span>
                            <span><a class="btn btn-border btn-sm" href="#"><i class="fa fa-tag"></i> Report Abuse</a></span>
                        </div>
                    </div>
                    {/if}
                </div>

                <div class="col-md-3">
                    <div class="fw-mgb20">
                        <div class="fw-mgb10">
                            <div class="fw-fs-16"><strong>HỌC BỔNG DU HỌC</strong></div>
                        </div>
                        <div>
                            {foreach from=$list_hoc_bong_child item="val" name="val"}
                            <div class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}hb/{$main_cate}-{$val.category_id}-{$val.category_url}.html" class="link_hover">
                                    <h3 style="font-size: 16px;">{$val.category_name}</h3>
                                </a>
                            </div>
                            {/foreach}
                        </div>
                    </div>

                    <div class="fw-mgb20">
                        <div class="fw-mgb10">
                            <div class="fw-fs-16"><strong>
                                TIN TỨC DU HỌC
                            </strong></div>
                        </div>
                        <div>
                            {foreach from=$list_news_sub item="val" name="val"}
                            <div class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html" class="link_hover">
                                    <h3 style="font-size: 16px;">{$val.news_name}</h3>
                                </a>
                            </div>
                            {/foreach}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
