{include file="$themes/header.html"}
<script src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.popupoverlay.js"></script>
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {include file="$themes/top.html"}
        </div>
        <section class="find-jobs section-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding fw-mgt20 fw-mgb20">
                        <div class="col-md-3 fw-mgt10">
                            <span class="fw-fs-26"><strong>{$cate_detail[0].category_name}</strong></span>
                            <div align="center" class="btn-bg-under-center fw-mgt10"></div>
                        </div>
                        <div class="col-md-9 no-padding">
                            <div class="col-md-2" align="right">
                                <div class="fw-mgt7"><i class="fa fa fa-mobile fa-2x"></i></div>
                            </div>
                            <div class="col-md-2 text-justify" style="line-height: 50px;">
                                <span class="fw-fs-18">{$smarty.const.lang_hotine}</span>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-translate-home fw-fs-18" href="{$smarty.const.URL_HOMEPAGE}">
                                    <strong>GẶP CHUYÊN GIA TƯ VẤN</strong>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-see-more fw-fs-18" href="{$smarty.const.URL_HOMEPAGE}">
                                    <strong>ĐĂNG KÝ TRỰC TUYẾN</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {include file="$themes/sub_banner.html"}
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<!-- end intro section -->
<section class="find-jobs section-about fw-mgt30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding fw-mgb20">
                {if $main_cate == 108}
                  {assign var="button" value="btn-daihoc"}
                {elseif $main_cate == 107}
                  {assign var="button" value="btn-thpt"}
                {else}
                  {assign var="button" value="btn-thacsi"}
                {/if}
                {foreach from=$list_hoc_bong_child item="val" name="val"}
                    <div class="col-md-4 fw-mgb10 no-padding">
                        <div class="box-1 classWithPad">
                            <div class="fw-mgb10 fw-mgt10 fw-fs-24">
                                <a href="{$smarty.const.URL_HOMEPAGE}hb/{$main_cate}-{$val.category_id}-{$val.category_url}.html" class="link_blue">
                                    <strong>{$val.category_name}</strong>
                                </a>
                            </div>
                            <div class="fw-mgb10">
                                <a href="{$smarty.const.URL_HOMEPAGE}hb/{$val.category_id}-{$val.category_url}.html">
                                {if $val.category_img}
                                   <img width="100%" height="240" src="{$smarty.const.URL_HOME}/upload/categorys/{$val.category_img}" />
                                {else}
                                   <img width="100%" height="240" src="{$smarty.const.URL_WEB}{$themes}/assets/img/info/man-user.png" />
                                {/if}
                                </a>
                            </div>
                            <div class="fw-mgb10">
                                {$val.category_content}
                            </div>
                            <div class="fw-mgb20" align="center">
                                <a class="btn {$button}" href="{$smarty.const.URL_HOMEPAGE}hb/{$main_cate}-{$val.category_id}-{$val.category_url}.html">
                                    TÌM HIỂU THÊM
                                </a>
                            </div>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{include file="$themes/footer.html"}
