{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
        <section class="find-jobs section-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 fw-mgt20 fw-mgb20">
                        <div class="col-md-6 fw-mgt10">
                            <span class="fw-fs-32"><strong>Du Học Mỹ</strong></span>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-2">
                                <i class="fa fa fa-mobile fa-3x"></i>
                            </div>
                            <div class="col-md-4">
                                <span class="fw-fs-18">0903.97.36.67</span>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-support fw-fs-18" href="#">
                                    ĐĂNG KÝ TRỰC TUYẾN
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {include file="$themes/sub_banner.html"}
                    </div>
                </div>
            </div>

        </section>
    </section>
</div>

<!-- end intro section -->
<section class="find-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt20 fw-mgb20">
                <h3>GIỚI THIỆU CHUNG</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>THÔNG TIN DU HỌC</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 fw-mgb20">
                <div align="left" class="col-md-8">
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12 no-padding">

                <div class="col-md-6 col-sm-6 col-xs-12 no-padding" style="background: #fff;">
                    {include file="$themes/content_banner.html"}
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Find Job Section End -->


<!-- footer -->
{include file="$themes/footer.html"}
