{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu" style="background: #fff;">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
        <!-- Header Section End -->
        <section id="slider">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <li>

                            <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/works_bg.jpg"
                                 alt="laptopmockup_sliderdy">

                            <div class="caption title sfb tp-caption start" data-x="center" data-y="center"
                                 data-voffset="-50" data-speed="400" data-start="800" data-easing="easeOutExpo">
                                <h2 style="min-height: 0px; min-width: 0px; line-height: 80px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 52px; font-weight: 900; color: #fff; text-transform: uppercase;">
                                    Online Translation Technology</h2>

                                <h5 style="min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 1px; font-size: 16px;color: #fff;">
                                    Receive translation orders by magnetic scanning technology and immediately quote.
                                    Online translator conducts translation upon your request.</h5>
                            </div>

                            <div class="caption sfb tp-caption start" data-x="center" data-y="center" data-voffset="90"
                                 data-speed="400" data-start="1600" data-easing="easeOutExpo">
                                <a href="#" class="btn btn-border btn-lg">Enterprise Solutions</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <!-- end intro section -->
    <section class="find-jobs section-about" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 fw-mgt30 fw-mgb30">
                    <div class="col-md-12 fw-fs-32" align="center">
                        Translate Documents With Simple Operations
                        <div align="center" class="btn-bg-under-center fw-mgt15 fw-mgb20"></div>
                    </div>
                    <div style="clear: both;"></div>

                    <div class="col-md-12 fw-fs-16">
                        <div class="col-md-12">
                            <div class="col-md-12 fw-mgb30">
                                <div class="col-md-3" align="right">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/cloud-backup-up-arrow.png"
                                         alt="laptopmockup_sliderdy">
                                </div>
                                <div class="col-md-9">
                                    <div class="fw-fs-32 fw-mgb10">
                                        Upload
                                    </div>

                                    <div class="fw-mgb10">
                                        Analyze files, specify target languages, specializations, and time frames. Our
                                        translator will do the rest.
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 fw-mgb30">
                                <div class="col-md-3" align="right">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/monitor.png"
                                         alt="laptopmockup_sliderdy">
                                </div>
                                <div class="col-md-9">
                                    <div class="fw-fs-32 fw-mgb10">
                                        Monitor
                                    </div>

                                    <div class="fw-mgb10">
                                        Review your order and send payment.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-3" align="right">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/download.png"
                                         alt="laptopmockup_sliderdy">
                                </div>
                                <div class="col-md-9">
                                    <div class="fw-fs-32 fw-mgb10">
                                        Download
                                    </div>

                                    <div class="fw-mgb10">
                                        Download the translated files.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- end intro section -->
<section class="works-jobs section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 fw-mgb10">
                    <div class="box_how_it_works" style="padding:10px;">

                        <div class="fw-fs-32 fw-mgb10 fw-mgt30">Translations with real time
                            <div align="left" class="btn-bg-under-center fw-mgt10"></div>
                        </div>

                        <div class="fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>

                        <div class="fw-mgb20">
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                See More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end intro section -->
<section class="find-jobs section-about" style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-12 fw-fs-32" align="center">
                    Our Translation Services
                    <div align="center" class="btn-bg-under-center fw-mgt15 fw-mgb20"></div>
                </div>
                <div style="clear: both;"></div>

                <div class="col-md-12">

                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 fw-mgb10">
                        <div class="box_marjor">
                            <div class="fw-mgb10 fw-mgt30" align="center">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/works/check-form.png"/>
                            </div>

                            <div class="fw-fs-24 fw-mgb10" style="margin:5px;">Automatically analyze files</div>

                            <div class="fw-mgb20" style="margin: 5px;">
                                “Our town was struggling to attract tourism, despite the beautiful scenery and amazing
                                location around other countries.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!-- footer -->
{include file="$themes/footer.html"}
