<div class="col-md-12 fw-mgb20">
    <div class="topnav" id="myTopnav">
        {foreach from=$list_category_content item="val" name="val"}
        <a href="#home" {if $smarty.foreach.val.first}class="active"{else}class="un_active"{/if}>
        <span id="link_{$val.category_id}" class="link_duhoc_hover" onclick="loadMoreData({$val.category_id});">
                    <h4><strong>{$val.category_name}</strong></h4>
                </span>
        </a>
        {/foreach}
        <a href="javascript:void(0);" class="icon" onclick="myFunction();">
            <span style="margin:5px;"><i class="fa fa-bars"></i></span>
        </a>
    </div>
</div>

{literal}
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<script type="text/javascript">
    function loadMoreData(category_id){
        $.ajax( {
            url: '{/literal}{$smarty.const.URL_HOME}{literal}/load/load_more_data.php?category_id=' + category_id,
            type: "get",
            dataType: 'json',
            async: false,
            beforeSend: function() {
                $("#loadingInfo").css("display", "block");
            }
        })
            .done(function(data) {
                $("#link_" + category_id).addClass('duhoc_active');
                $("#loadingInfo").css("display", "none");
                $("#post-data").html(data);
            })
            .fail(function(jqXHR, ajaxOptions, thrownError) {
                alert('server not responding...');
            });
    }
</script>
{/literal}

{if count($list_news_sub) > 0}
<div class="col-md-6 col-sm-6 col-xs-12 fw-mgb20">
    <div style="background: #fff;">
        {include file="$themes/content_banner_top.html"}
    </div>
</div>
<div id="post-data">
{foreach from=$list_news_sub item="val" key="key" name="val"}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="featured-item">
            <div class="featured-wrap">
                <div class="featured-inner">
                    <figure class="item-thumb">
                        <center>
                        {if $val.news_img}
                        <a class="hover-effect" href="{$smarty.const.URL_HOMEPAGE}detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                            <img src="{$smarty.const.URL_HOME}/timthumb.php?src={$smarty.const.URL_HOME}/upload/news/{$val.news_img}&h=150&w=250&zc=0" alt="{$val.news_name}">
                        </a>
                        {else}
                        <a class="hover-effect" href="{$smarty.const.URL_HOMEPAGE}detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                            <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="{$val.news_name}">
                        </a>
                        {/if}
                        </center>
                    </figure>
                    <div class="item-body" style="height: 94px;">
                        <span class="job-title">
                            <a title="{$val.full_news_name}" href="{$smarty.const.URL_HOMEPAGE}detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html">
                                {$val.news_name_limit}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="item-foot">
                <span><i class="ti-calendar"></i> {$val.time_news}</span>
                <div class="view-iocn">
                    <a href="{$smarty.const.URL_HOMEPAGE}detail/{$main_cate}-{$val.news_id}-{$val.news_url}.html"><i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{/foreach}
</div>

<div class="col-md-12">
    <div class="showing pull-left"></div>
    <ul class="pagination pull-right">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
{/if}

<div id="loadingInfo" class="loading-img">
    <p style="position: absolute; top: 30%; left: 50%;">
        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/loading.gif" class="fw-img-p50" />
    </p>
</div>
