{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
    </section>

</div>

<section class="find-jobs section-about" style="background: #fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-12 fw-fs-32" align="center">
                    Our Translation Services
                    <div align="center" class="btn-bg-under-center fw-mgt15 fw-mgb20"></div>
                </div>
                <div style="clear: both;"></div>

                <div class="col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 fw-mgb20">
                            <div class="box_service">
                                <div class="fw-mgb10" align="center"><img
                                        src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/></div>

                                <div class="fw-fs-24 fw-mgb10">Online Translation App</div>

                                <div class="fw-mgb20">
                                    Expanding your international business depends on quality translation at fast speed.
                                    Steps to disrupt old localization models by converting professional language
                                    services into a fast, easy

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-job section-about" style="color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt20 fw-mgb20">

                <div class="col-md-12" style="text-align: justify;">
                    <div class="col-md-4 no-padding" align="center">
                        <img width="80%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/services/logo-04.png"/>
                    </div>
                    <div class="col-md-8 no-padding">
                        <div class="fw-fs-32 fw-mgb20">
                            <strong>Transaltion - Enterprise Solutions</strong>
                        </div>
                        <div class="col-md-12 no-padding fw-mgb20">
                            This is the article contentThis is the article contentThis is the article contentThis is the
                            article contentThis is the article contentThis is the article contentThis is the article
                            contentThis is the article contentThis is the article contentThis is the article contentThis
                            is the article contentThis is the article contentThis is the article content
                        </div>
                        <div>
                            <a class="btn btn-see-more" href="{$smarty.const.URL_HOMEPAGE}">
                                <strong>See More</strong>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="find-jobs section-about" style="background: #fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-12 fw-fs-32" align="center">
                    Benefits of Online Translation Services
                    <div align="center" class="btn-bg-under-center fw-mgt15 fw-mgb20"></div>
                </div>
                <div style="clear: both;"></div>

                <div class="col-md-12 fw-fs-16">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <ul id="toggle-view">
                            <li>
                                <h3>Title 1</h3>
                                <span>+</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed
                                    pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
                                    Nullam sit amet enim.</p>
                            </li>
                            <li>
                                <h3>Title 2</h3>
                                <span>+</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed
                                    pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
                                    Nullam sit amet enim.</p>
                            </li>
                            <li>
                                <h3>Title 3</h3>
                                <span>+</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed
                                    pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
                                    Nullam sit amet enim.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{literal}
<style type="text/css">

    #toggle-view {
        list-style: none;
        font-size: 15px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #toggle-view li {
        margin: 20px;
        border-bottom: 1px solid #ccc;
        position: relative;
        cursor: pointer;
    }

    #toggle-view h3 {
        margin: 0;
        font-size: 20px;
    }

    #toggle-view span {
        position: absolute;
        right: 5px;
        top: 0;
        color: #ccc;
        font-size: 16px;
    }

    #toggle-view p {
        margin: 5px 0;
        display: none;
    }

</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('#toggle-view li').click(function () {

            var text = $(this).children('p');

            if (text.is(':hidden')) {
                text.slideDown('200');
                $(this).children('span').html('-');
            } else {
                text.slideUp('200');
                $(this).children('span').html('+');
            }

        });

    });

</script>

{/literal}

<!-- footer -->
{include file="$themes/footer.html"}
