<ul id="slides1">
    <li>
        <img src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/pic_mgmt.jpg" width="150" height="150" alt="Pic Mgmt" />
        <div class="content">
            <h3>MGMT</h3>
            <h4>Congratulations</h4>
            <p>Recording the follow-up to your critically-acclaimed debut album has to be a nerve-wracking affair. As a band, do you go with the same sound/formula you used on the first record? On MGMT’s sophomore album Congratulations, they successfully manage to do both.</p>
        </div>
        <div class="clear"></div>
    </li>
    <li>
        <img src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/pic_lcd0.jpg" width="150" height="150" alt="Pic Lcd" />
        <div class="content">
            <h3>LCD Soundsystem</h3>
            <h4>This is Happening</h4>
            <p>If This Is Happening does end up being the final LCD Soundsystem release, Murphy certainly picked the right way to end it. “Home” hints at lyrical retrospection while
                adopting a musical collage that sums up the album, if not LCD’s three full-length releases, fittingly. </p>
        </div>
        <div class="clear"></div>
    </li>
    <li>
        <img src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/pic_mont.jpg" width="150" height="150" alt="Pic Montreal" />
        <div class="content">
            <h3>of Montreal</h3>
            <h4>Skeletal Lamping</h4>
            <p>Kevin Barnes said about the title: "This record is my attempt to bring all of my puzzling, contradicting, disturbing, humorous...fantasies, ruminations and observations to
                the surface, so that I can better dissect and understand their reason for being in my head. Hence the title, Skeletal Lamping."</p>
        </div>
        <div class="clear"></div>
    </li>
    <li>
        <img src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/pic_gori.jpg" width="150" height="150" alt="Pic Gorillaz" />
        <div class="content">
            <h3>Gorillaz</h3>
            <h4>Demon Days</h4>
            <p>Demon Days is the second studio album by British band Gorillaz, released in May 2005. The album features contributions from De La Soul, Neneh Cherry, Martina Topley-Bird, Roots
                Manuva, MF DOOM, Ike Turner, Bootie Brown of the Pharcyde, and Dennis Hopper.</p>
        </div>
        <div class="clear"></div>
    </li>
</ul>
