<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">{$smarty.const.lang_footer_kh}</h4>
                        <ul class="menu">
                            <li><a href="#">{$smarty.const.lang_footer_ta}</a></li>
                            <li><a href="#">On Demand Translation</a></li>
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}how-it-works.html">{$smarty.const.lang_footer_hiw}</a>
                            </li>
                            <li><a href="#">{$smarty.const.lang_footer_cb}</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}sign-up.html">Enterprise Solutions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">{$smarty.const.lang_footer_about}</h4>
                        <ul class="menu">
                            <li><a href="{$smarty.const.URL_HOMEPAGE}about-us.html">{$smarty.const.lang_footer_info}</a>
                            </li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}our-translator.html">{$smarty.const.lang_footer_our_trans}</a>
                            </li>
                            <li><a href="#">Legal</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">{$smarty.const.lang_footer_trans}</h4>
                        <ul class="menu">
                            <li><a href="{$smarty.const.URL_HOMEPAGE}translator-job.html">{$smarty.const.lang_footer_transjob}</a>
                            </li>
                            <li><a href="#">Job Opportunities</a></li>
                            <li><a href="#">{$smarty.const.lang_footer_receive}</a></li>
                            <li><a href="#">{$smarty.const.lang_footer_become}</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}sign-up.html">{$smarty.const.lang_footer_su}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">{$smarty.const.lang_footer_support}</h4>
                        <ul class="menu">
                            <li><a href="#">{$smarty.const.lang_footer_cust}</a></li>
                            <li><a href="#">{$smarty.const.lang_footer_trans_1}</a></li>
                            <li><a href="#">{$smarty.const.lang_footer_faq}</a></li>
                        </ul>
                    </div>
                </div>

                <div style="clear: both"></div>

                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
                    <div class="widget">
                        <h4 class="block-title">TRANSLATION FOR BUSINESSES</h4>
                    </div>
                </div>

                <div style="clear: both"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <ul class="menu">
                            <li><a href="#">Travel and Tourism</a></li>
                            <li><a href="#">Overseas Study</a></li>
                            <li><a href="#">Immigration</a></li>
                            <li><a href="#">Financial Services</a></li>
                            <li><a href="#">Legal Translation</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <ul class="menu">
                            <li><a href="#">Medical Translation</a></li>
                            <li><a href="#">Translation Books</a></li>
                            <li><a href="#">Education and training</a></li>
                            <li><a href="#">Consumer and Retail</a></li>
                            <li><a href="#">Government and Public Interest</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <ul class="menu">
                            <li><a href="#">Heavy Industry</a></li>
                            <li><a href="#">Life Sciences</a></li>
                            <li><a href="#">Entertainment and Media</a></li>
                            <li><a href="#">Translate Social Media</a></li>
                            <li><a href="#">Translate Software/ App</a></li>
                        </ul>
                    </div>
                </div>


            </div>
    </section>
    <!-- Footer area End -->

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-right">
                        <div class="bottom-social-icons social-icon">
                            <a class="facebook" href="https://web.facebook.com/GrayGrids">Facebook</a>
                            <a class="twitter" href="https://twitter.com/GrayGrids">Twitter</a>
                            <a class="youtube" href="https://youtube.com">YouTube</a>
                            <a class="dribble" href="https://dribbble.com/GrayGrids">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
        </div>
    </div>
</div>

{literal}
<script>
    $(function(){
        $('#slides1').bxSlider({
            prev_image: '{/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/bslide/images/btn_arrow_left.jpg',
            next_image: '{/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/bslide/images/btn_arrow_right.jpg',
            wrapper_class: 'slides1_wrap',
            margin: 70,
            auto: true,
            auto_controls: false
        });
    });
</script>
{/literal}
<!-- Main JS  -->
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/jquery.bxslider2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material-kit.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/main.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/form-validator.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/contact-form-script.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.tools.min.js"></script>
</body>
</html>
