<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">CÔNG TY</h4>
                        <ul class="menu">
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Giới thiệu</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Đội ngũ sáng lập</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Chương trình điều phối</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Triết lý giáo dục</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Blog</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Cơ hội nghề nghiệp</a></li>
                            <li><a href="{$smarty.const.URL_HOMEPAGE}">Hợp tác với chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">DU HỌC CÁC NƯỚC</h4>
                        <ul class="menu">

                            {section name=cate_du_hoc loop=$cate_du_hoc}
                                {section name=cate_sub loop=$cate_sub[cate_du_hoc]}
                                <li>
                                    <a href="{$smarty.const.URL_HOMEPAGE}">{$cate_sub[cate_du_hoc][cate_sub].category_name}</a>
                                </li>
                                {/section}
                            {/section}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">CHƯƠNG TRÌNH DU HỌC</h4>
                        <ul class="menu">
                            {foreach from=$list_about_us item="val" name="val"}
                            <li>
                                <a href="{$smarty.const.URL_HOMEPAGE}">
                                    {$val.news_name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4 class="block-title">HỖ TRỢ</h4>
                        <ul class="menu">
                            <li><a href="#">Đăng ký trực tuyến</a></li>
                            <li><a href="#">Chuyên gia tư vấn</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>

                <div style="clear: both"></div>
            </div>
    </section>
    <!-- Footer area End -->

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="site-info text-left">
                        <div class="bottom-social-icons social-icon">
                            <a class="facebook" href="https://web.facebook.com/GrayGrids">Facebook</a>
                            <a class="twitter" href="https://twitter.com/GrayGrids">Twitter</a>
                            <a class="youtube" href="https://youtube.com">YouTube</a>
                            <a class="dribble" href="https://dribbble.com/GrayGrids">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
        </div>
    </div>
</div>

{literal}
<script>
    $(function () {
        $('#slides1').bxSlider({
            prev_image: '{/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/bslide/images/btn_arrow_left.jpg',
            next_image: '{/literal}{$smarty.const.URL_WEB}{$themes}{literal}/assets/bslide/images/btn_arrow_right.jpg',
            wrapper_class: 'slides1_wrap',
            auto: true,
            autoControls: true,
            stopAutoOnClick: true,
            pager: false,
            slideWidth: 600
        });
    });
</script>
{/literal}
<!-- Main JS  -->
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/direction/scripts/bundle.js"></script>
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/bslide/images/jquery.bxslider2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/material-kit.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/main.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/form-validator.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_WEB}{$themes}/assets/js/contact-form-script.js"></script>
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript"
        src="{$smarty.const.URL_WEB}{$themes}/assets/js/jquery.themepunch.tools.min.js"></script>
</body>
</html>
