{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {include file="$themes/top.html"}
        </div>
        <!-- Header Section End -->
        <section class="featured-jobs">
            {include file="$themes/top-support.html"}
        </section>
        <section id="slider">
            {include file="$themes/banner.html"}
        </section>
    </section>
    <!-- end intro section -->
</div>

<!-- Find Job Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3 class="main_title">{$content_ttduhoc[0].category_name}</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8 text-justify">
                    {$content_ttduhoc[0].category_content}
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="col-md-12 no-padding">
                {include file="$themes/web/news.html"}
            </div>
        </div>
    </div>
</section>
<!-- Find Job Section End -->
{literal}
<script>
    $(document).ready(function () {
        $('.counter-count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 5000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    });
</script>
{/literal}
<!-- Find Job Section Start -->
<section class="home_background section">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: left; padding-top: 50px;">
                <h2 style="font-size: 40px;" class="main_title"><strong>{$content_dhmu[0].category_name}</strong></h2>
                <br> <br>
                <h4 class="text-justify">
                    {$content_dhmu[0].category_content}
                </h4>
            </div>

            <div class="col-md-12 no-padding" style="margin-top: 40px;">
                <div class="col-md-3">
                    <center>
                        <h2 class="counter"><span class="counter-count">2000</span> +</h2><br/>
                        <h4>Trường trung học phổ thông các nước</h4>
                    </center>

                </div>
                <div class="col-md-3">
                    <center>
                        <h2 class="counter"><span class="counter-count">500</span> +</h2><br/>
                        <h4>Trường đại học các nước</h4>

                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <h2 class="counter"><span class="counter-count">1000</span> tỷ</h2><br/>
                        <h4>Tổng giá trị học bổng</h4>
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <h2 class="counter"><span class="counter-count">100</span> %</h2><br/>
                        <h4>Học sinh đậu vào trường mơ ước</h4>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section id="blog" class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3 class="main_title">{$content_duhoc[0].category_name}</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8 text-justify">
                    {$content_duhoc[0].category_content}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="direction-reveal direction-reveal--3-grid-flexbox direction-reveal--demo-slide">
                        {section name=cate_du_hoc loop=$cate_du_hoc}
                            {section name=cate_sub loop=$cate_sub[cate_du_hoc]}
                                <a href="#" class="direction-reveal__card">
                                    <img src="{$smarty.const.URL_HOMEPAGE}upload/categorys/{$cate_sub[cate_du_hoc][cate_sub].category_img}"
                                         alt="Image" class="img-fluid">

                                    <div class="direction-reveal__overlay direction-reveal__anim--in">
                                        <h3 class="direction-reveal__title fw-mgt20"><strong>{$cate_sub[cate_du_hoc][cate_sub].category_name}</strong>
                                        </h3>
                                        <p class="direction-reveal__text fw-mgt20">
                                            {$cate_sub[cate_du_hoc][cate_sub].limit_category_content}
                                        </p>

                                        <div class="fw-mgt20 fw-text-right">
                                            Tìm hiểu thêm
                                        </div>
                                    </div>
                                </a>
                            {/section}
                        {/section}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section id="blog" class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3 class="main_title">{$content_ndtv[0].category_name}</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8 text-justify">
                    {$content_ndtv[0].category_content}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 blog-item">

                            <div class="hoc-bong-item-wrapper">
                                <div class="hoc-bong-item-text">
                                    <a href="single-post.html" class="link_blue">
                                        <h3 class="fw-fs-26">
                                            <strong>HỌC BỔNG</strong>
                                        </h3>
                                    </a>
                                    <p class="fw-mgt10 fw-mgb10">
                                        {$content_hocbong[0].category_content}
                                    </p>
                                    <div class="fw-mgt20">
                                        {foreach from=$list_hoc_bong item="val" name="val"}
                                          {if $val.category_id == 107}
                                            {assign var="label" value="label-default"}
                                          {elseif $val.category_id == 108}
                                            {assign var="label" value="label-primary"}
                                          {elseif $val.category_id == 109}
                                            {assign var="label" value="label-success"}
                                          {else}
                                            {assign var="label" value="label-default"}
                                          {/if}
                                            <a href="{$smarty.const.URL_HOMEPAGE}hocbong/{$val.category_id}-{$val.category_url}.html">
                                                <span class="label {$label}">{$val.category_name}</span>
                                            </a>
                                        {/foreach}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                            <div class="hoc-bong-item-wrapper">
                                <div class="hoc-bong-item-text">
                                    <a href="single-post.html" class="link_blue">
                                        <h3 class="fw-fs-26">
                                            <strong>DU HỌC HÈ</strong>
                                        </h3>
                                    </a>
                                    <p class="fw-mgt10 fw-mgb10">
                                        This is the article content<br/>
                                        This is the article content<br/>
                                        This is the article content
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                            <div class="hoc-bong-item-wrapper">
                                <div class="hoc-bong-item-text">
                                    <a href="single-post.html" class="link_blue">
                                        <h3 class="fw-fs-26">
                                            <strong>DU HỌC TIẾT KIỆM</strong>
                                        </h3>
                                    </a>
                                    <p class="fw-mgt10 fw-mgb10">
                                        This is the article content<br/>
                                        This is the article content<br/>
                                        This is the article content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                            <div class="hoc-bong-item-wrapper">
                                <div class="hoc-bong-item-text">
                                    <a href="single-post.html" class="link_blue">
                                        <h3 class="fw-fs-26">
                                            <strong>DU HỌC TIẾT KIỆM</strong>
                                        </h3>
                                    </a>
                                    <p class="fw-mgt10 fw-mgb10">
                                        This is the article content<br/>
                                        This is the article content<br/>
                                        This is the article content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
                            <div class="hoc-bong-item-wrapper">
                                <div class="hoc-bong-item-text">
                                    <a href="single-post.html" class="link_blue">
                                        <h3 class="fw-fs-26">
                                            <strong> ĐẠI HỌC TOP</strong>
                                        </h3>
                                    </a>
                                    <p class="fw-mgt10 fw-mgb10">
                                        This is the article content<br/>
                                        This is the article content<br/>
                                        This is the article content
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3 class="main_title">{$content_ctbqt[0].category_name}</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 no-padding fw-mgb20">
                <div align="left" class="col-md-8 text-justify">
                    {$content_ctbqt[0].category_content}
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <a href="#" class="link_blue">
                                    <h2>
                                        VIDEO PHỎNG VẤN
                                        <div align="center" class="btn-bg-under-center fw-mgt10 fw-mgb10"></div>
                                    </h2>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium
                                    asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <a href="single-post.html" class="link_blue">
                                    <h2>
                                        KHO THÔNG TIN
                                        <div align="center" class="btn-bg-under-center fw-mgt10 fw-mgb10"></div>
                                    </h2>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium
                                    asperiores ad vitae.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <a href="single-post.html" class="link_blue">
                                    <h2>
                                        ẢNH HOẠT ĐỘNG
                                        <div align="center" class="btn-bg-under-center fw-mgt10 fw-mgb10"></div>
                                    </h2>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium
                                    asperiores ad vitae.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section class="about-job section-about" style="color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding fw-mgt30 fw-mgb30">
                <div class="col-md-9">
                    <div class="fw-mgb20">
                        <h3 class="main_title"><strong>MỞ CỬA THẾ GIỚI THÔNG QUA GIÁO DỤC</strong></h3>
                    </div>
                    <div class="text-justify">
                        {$content_gd[0].category_content}
                    </div>
                </div>
                <div class="col-md-3" align="right">
                    <a class="btn btn-support fw-fs-18" href="#" style="margin-top:55px;">
                        ĐĂNG KÝ TRỰC TUYẾN
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
