{include file="$themes/header.html"}
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            {if $isLogin}
            {include file="$themes/top-account.html"}
            {elseif $isLogin_cv}
            {include file="$themes/top-cv-account.html"}
            {else}
            {include file="$themes/top.html"}
            {/if}
        </div>
        <!-- Header Section End -->

        <section id="slider">
            {include file="$themes/banner.html"}
        </section>
    </section>
    <!-- end intro section -->
</div>

<!-- Find Job Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>THÔNG TIN DU HỌC</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 fw-mgb20">
                <div align="left" class="col-md-8">
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12 no-padding">

                <div class="col-md-6 col-sm-6 col-xs-12 no-padding" style="background: #fff;">
                    {include file="$themes/content_banner.html"}
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="featured-item">
                        <div class="featured-wrap">
                            <div class="featured-inner">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="job-page.html">
                                        <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="item-body">
                                    <h3 class="job-title"><a href="job-page.html">Graphic Designer</a></h3>
                                    <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot">
                            <span><i class="ti-calendar"></i> 4 months ago</span>
                            <span><i class="ti-time"></i> Full Time</span>
                            <div class="view-iocn">
                                <a href="job-page.html"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Find Job Section End -->

<!-- Find Job Section Start -->
<section id="blog"  class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>DU HỌC CÁC NƯỚC</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 fw-mgb20">
                <div align="left" class="col-md-8">
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section id="blog" class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>NHỮNG ĐIỀU THÚ VỊ</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 fw-mgb20">
                <div align="left" class="col-md-8">
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a href="single-post.html">
                                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div class="meta-tags">
                                    <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                    <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                                </div>
                                <a href="single-post.html">
                                    <h3>
                                        Tips to write an impressive resume online for beginner
                                    </h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section class="home_background section">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: left; padding-top: 50px;">
                <h2 style="font-size: 40px;">ĐƯỜNG ĐẾN ĐẠI HỌC MƠ ƯỚC</h2>
                <br> <br>
                <h4>
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    contentThis is the article content
                </h4>
            </div>

            <div class="col-md-12" style="margin-top: 40px;">
                <div class="col-md-3">
                    <center>
                        <h3 style="font-size: 40px;"> 95 +<br/>
                            Languages
                        </h3>
                    </center>

                </div>
                <div class="col-md-3">
                    <center>
                        <h3 style="font-size: 40px;">100,000
                            <br/>
                            Translators
                        </h3>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <h3 style="font-size: 40px;"> 35 +<br>
                            Subject Fields
                        </h3>
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <h3 style="font-size: 40px;"> 35 +<br>
                            Subject Fields
                        </h3>
                    </center>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Find Job Section Start -->
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgb20">
                <h3>CÓ THỂ BẠN QUAN TÂM</h3>
                <div align="center" class="btn-bg-under-center fw-mgt10"></div>
            </div>
            <div class="col-md-12 fw-mgb20">
                <div align="left" class="col-md-8">
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                    This is the article contentThis is the article contentThis is the article
                    contentThis is the article contentThis is the article contentThis is the article
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                    <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <div class="meta-tags">
                                <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                            </div>
                            <a href="single-post.html">
                                <h3>
                                    Tips to write an impressive resume online for beginner
                                </h3>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                    <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <div class="meta-tags">
                                <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                            </div>
                            <a href="single-post.html">
                                <h3>
                                    Tips to write an impressive resume online for beginner
                                </h3>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">

                    <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/about/img_1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <div class="meta-tags">
                                <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
                                <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
                            </div>
                            <a href="single-post.html">
                                <h3>
                                    Tips to write an impressive resume online for beginner
                                </h3>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium asperiores ad vitae.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Find Job Section Start -->
<section class="about-job section-about" style="color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fw-mgt30 fw-mgb30">
                <div class="col-md-8">
                    <div class="fw-mgb20">
                        <h3>MỞ CỬA THẾ GIỚI THÔNG QUA GIÁO DỤC</h3>
                    </div>
                    <div>
                        This is the article contentThis is the article contentThis is the article content
                        This is the article contentThis is the article contentThis is the article

                        This is the article contentThis is the article contentThis is the article content
                        This is the article contentThis is the article contentThis is the article

                        This is the article contentThis is the article contentThis is the article content
                        This is the article contentThis is the article contentThis is the article
                    </div>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-support fw-fs-18" href="#" style="margin-top:55px;">
                        ĐĂNG KÝ TRỰC TUYẾN
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
{include file="$themes/footer.html"}
