{include file="$themes/header.html"}
<!-- Header Section Start -->
      <div class="header">    
        <!-- Start intro section -->
        <section id="intro">
          <div class="logo-menu">
            {include file="$themes/top.html"}
          </div>
      <!-- Header Section End -->    

<div id="content" class="register-account">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3" style="margin-top:150px;">
        <div class="my-account-form">
          <div id="cd-signup" class="is-selected">
             <div style="clear: both;"></div>
              <div class="fw-bglogin box-login">
                <div class="thongbao" style="font-size: 16px;">{$thongbao}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- footer -->
  {include file="$themes/footer.html"}