<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide1.jpg">

                <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="{$smarty.const.URL_WEB}{$themes}/assets/img/slider/slide1.jpg">

                <div class="tp-caption mediumHeading h2 lft tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-y="center" data-voffset="-50" data-speed="1200" data-start="1000" data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" style="z-index: 11;">
                    <h2 style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-weight: 900; font-size: 52px; color: #fff; text-transform: uppercase;">Online Translation Application</h2>
                </div>

                <div class="tp-caption detailText p lfl tp-resizeme start" data-x="center" data-y="center" data-voffset="10" data-speed="1200" data-start="1500" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="text-align: center; z-index: 8; color: #fff;">
                    <p style="font-size: 15px;"></p>
                    </div>

                </li>
                <li data-transition="slideup" data-slotamount="7" data-masterspeed="800" data-thumb="assets/img/slider/slide2.jpg">

                    <img src="{$smarty.const.URL_WEB}{$themes}/assets/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="{$smarty.const.URL_WEB}{$themes}/assets/img/slider/slide2.jpg">

                    <div class="caption title sfb tp-caption start" data-x="center" data-y="center" data-voffset="-50" data-speed="400" data-start="800" data-easing="easeOutExpo">
                        <h2 style="min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 52px; font-weight: 900; color: #fff; text-transform: uppercase;">12000+ Jobs Waiting</h2>
                    </div>

                    <div class="caption text p sfb tp-caption start" data-x="center" data-y="center" data-voffset="10" data-speed="400" data-start="1200" data-easing="easeOutExpo" style="z-index: 8; color: #fff; text-align: center;">
                        <p style="font-size: 15px;"></p>
                        </div>

                        <div class="caption sfb tp-caption start" data-x="center" data-y="center" data-voffset="90" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                            <a href="#" class="btn btn-border btn-lg">Create an Order</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>