<div class="container">
    <div class="row">
        <div class="col-md-12 fw-cl-blue">
            <div class="col-md-3 no-padding fw-mgt10 fw-mgb10">
                <span class="fw-fs-16"><strong>ĐẠI DIỆN TUYỂN SINH QUỐC TẾ</strong></span>
            </div>
            <div class="col-md-9 no-padding">
                <div class="col-md-4 fw-mgt10 no-padding" align="right">
                    <i class="fa fa fa-mobile fa-lg"></i>&nbsp; {$smarty.const.lang_hotine}
                </div>
                <div class="col-md-8 no-padding fw-mgt10" align="right">
                    <div class="col-md-5 no-padding">
                        <i class="fa fa-comments fa-lg"></i>&nbsp;
                        <a class="fw-fs-16 link_top_blue" href="{$smarty.const.URL_HOMEPAGE}">
                            Gặp chuyên gia tư vấn
                        </a>
                    </div>

                    <div class="col-md-4 no-padding">
                        <i class="fa fa-user-plus fa-lg"></i>&nbsp;
                        <a class="fw-fs-16 link_top_blue" href="{$smarty.const.URL_HOMEPAGE}">
                            Đăng ký trực tuyến
                        </a>
                    </div>

                    <div class="col-md-3 no-padding" align="right">
                        <i class="fa fa-map-marker fa-lg"></i>&nbsp;
                        <a class="fw-fs-16 link_top_blue" href="{$smarty.const.URL_HOMEPAGE}">
                            Liên hệ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
