<nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container no-padding" style="margin-bottom: 5px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{$smarty.const.URL_HOMEPAGE}index.html">
                <img width="90%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/logo.png">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right float-right no-padding" id="navbar">
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}how-it-works.html"
                       {if $url_views=='how-it-works'}class="active"{else}class="btn btn-common-link"{/if}>
                    GIỚI THIỆU
                    <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="index.html">
                                Đội Ngũ Sáng Lập
                            </a>
                        </li>
                        <li>
                            <a href="index-02.html">
                                Chương Trình Điều Phối
                            </a>
                        </li>
                        <li>
                            <a href="index-03.html">
                                Triết Lý Giáo Dục
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC CÁC NƯỚC
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="col-md-12 dropdownmenu">
                        <div class="col-md-3 no-padding">
                            <ul>
                                <li style="white-space: nowrap;">
                                    <a href="index.html" class="link_menu_blue">
                                        DU HỌC CHÂU MỸ <i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index.html">
                                        Du học mỹ
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index-02.html">
                                        Du học Canada
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 no-padding">
                            <ul>
                                <li style="white-space: nowrap;">
                                    <a href="index.html" class="link_menu_blue">
                                        DU HỌC CHÂU ÚC <i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index.html">
                                        Du học Úc
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index-02.html">
                                        Du Học New Zealand
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 no-padding">
                            <ul>
                                <li style="white-space: nowrap;">
                                    <a href="index.html" class="link_menu_blue">
                                        DU HỌC CHÂU ÂU <i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index.html">
                                        Du Học Anh
                                    </a>
                                </li>
                                <li>
                                    <a href="index-02.html">
                                        Du Học Pháp
                                    </a>
                                </li>
                                <li>
                                    <a href="index-03.html">
                                        Du Học Ireland
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 no-padding">
                            <ul>
                                <li style="white-space: nowrap;">
                                    <a href="index.html" class="link_menu_blue">
                                        DU HỌC CHÂU Á<i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index.html">
                                        Du Học Singapore
                                    </a>
                                </li>
                                <li style="white-space: nowrap;">
                                    <a href="index-02.html">
                                        Du Học Thái Lan
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>

                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        ĐẠI HỌC TOP
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="index.html">
                                Học Bổng THPT
                            </a>
                        </li>
                        <li>
                            <a href="index-02.html">
                                Học Bổng Đại Học
                            </a>
                        </li>
                        <li>
                            <a href="index-03.html">
                                Học Bổng Thạc Sỹ
                            </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        HỌC BỔNG
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="index.html">
                                Học Bổng THPT
                            </a>
                        </li>
                        <li>
                            <a href="index-02.html">
                                Học Bổng Đại Học
                            </a>
                        </li>
                        <li>
                            <a href="index-03.html">
                                Học Bổng Thạc Sỹ
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC HÈ
                    </a>
                </li>

                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC TIẾT KIỆM
                    </a>
                </li>

                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC ĐỊNH CƯ
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">

    </ul>
    <!-- Mobile Menu End -->
</nav>
