<nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container no-padding" style="margin-bottom: 5px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{$smarty.const.URL_HOMEPAGE}index.html">
                <img width="90%" src="{$smarty.const.URL_WEB}{$themes}/assets/img/logo.png">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right float-right no-padding" id="navbar">
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}">
                        GIỚI THIỆU
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        {foreach from=$list_about_us item="val" name="val"}
                        <li>
                            <a href="{$smarty.const.URL_HOMEPAGE}about/{$val.news_id}-{$val.news_url}.html">
                                {$val.news_name}
                            </a>
                        </li>
                        {/foreach}
                        <li>
                            <a href="{$smarty.const.URL_HOMEPAGE}blog.html">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="{$smarty.const.URL_HOMEPAGE}career.html">
                                Cơ hội nghề nghiệp
                            </a>
                        </li>
                        <li>
                            <a href="{$smarty.const.URL_HOMEPAGE}contact.html">
                                Hợp tác chúng tôi
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}"
                       {if $url_views=='how-it-works'}class="active"{else}class="btn btn-common-link"{/if}>
                    DU HỌC
                    <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="col-md-12 dropdownmenu">
                        {section name=cate_du_hoc loop=$cate_du_hoc}
                        <div class="col-md-3 no-padding">
                            <ul>
                                <li class="white_space_uppercase">
                                    <a href="{$smarty.const.URL_HOMEPAGE}" class="link_menu_blue">
                                        {$cate_du_hoc[cate_du_hoc].category_name} <i class="fa fa-angle-down"></i>
                                    </a>
                                </li>
                                {section name=cate_sub loop=$cate_sub[cate_du_hoc]}
                                <li class="white_space">
                                    <a href="{$smarty.const.URL_HOMEPAGE}duhoc/{$cate_sub[cate_du_hoc][cate_sub].category_id}-{$cate_sub[cate_du_hoc][cate_sub].category_url}.html">
                                        {$cate_sub[cate_du_hoc][cate_sub].category_name}
                                    </a>
                                </li>
                                {/section}

                            </ul>
                        </div>
                        {/section}
                    </div>

                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        ĐẠI HỌC TOP
                    </a>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        HỌC BỔNG
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        {foreach from=$list_hoc_bong item="val" name="val"}
                        <li>
                            <a href="{$smarty.const.URL_HOMEPAGE}hocbong/{$val.category_id}-{$val.category_url}.html">
                                {$val.category_name}
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC HÈ
                    </a>
                </li>

                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC TIẾT KIỆM
                    </a>
                </li>

                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}" class="btn btn-common-link">
                        DU HỌC ĐỊNH CƯ
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
        <li>
            <a href="{$smarty.const.URL_HOMEPAGE}how-it-works.html"
               {if $url_views=='how-it-works'}class="active"{else}class="btn btn-common-link"{/if}>
            GIỚI THIỆU
            </a>
            <ul>
                {foreach from=$list_about_us item="val" name="val"}
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}study-detail.html">
                        {$val.news_name}
                    </a>
                </li>
                {/foreach}
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}blog.html">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}career.html">
                        Cơ hội nghề nghiệp
                    </a>
                </li>
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}contact.html">
                        Hợp tác chúng tôi
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{$smarty.const.URL_HOMEPAGE}">DU HỌC</a>
            <ul>
                {section name=cate_du_hoc loop=$cate_du_hoc}
                {section name=cate_sub loop=$cate_sub[cate_du_hoc]}
                <li class="white_space">
                    <a href="{$smarty.const.URL_HOMEPAGE}duhoc/{$cate_sub[cate_du_hoc][cate_sub].category_id}-{$cate_sub[cate_du_hoc][cate_sub].category_url}.html">
                        {$cate_sub[cate_du_hoc][cate_sub].category_name}
                    </a>
                </li>
                {/section}
                {/section}
            </ul>
        </li>
        <li>
            <a href="#">ĐẠI HỌC TOP</a>
        </li>
        <li>
            <a href="#">HỌC BỔNG</a>
            <ul>
                {foreach from=$list_hoc_bong item="val" name="val"}
                <li>
                    <a href="{$smarty.const.URL_HOMEPAGE}hocbong/{$val.category_id}-{$val.category_url}.html">
                        {$val.category_name}
                    </a>
                </li>
                {/foreach}
            </ul>
        </li>
        <li>
            <a href="blog.html">DU HỌC TIẾT KIỆM</a>
        </li>
        <li>
            <a href="blog.html">DU HỌC ĐỊNH CƯ</a>
        </li>
    </ul>
    <!-- Mobile Menu End -->
</nav>
